#easter-alert {
    text-align: center;
    font-size: 1.5rem !important;
    margin-bottom: 5rem !important;
    margin-bottom: 500px;
    right: 0;
    left: 0;
    bottom: 128px;
    width: 100% !important;

}
@media(max-width:499px){
    #easter-alert {
        bottom: 135px; 
        font-size: 0.9rem !important;   
    }
}