.navbar{
    height: 100%;
    width: 100%;
    background: linear-gradient(100deg,rgb(33, 36, 75),#011b1d);
    /* background: rgb(124, 99, 99); */
    padding: 0;
    margin: 0;
}

.img{
    display: block;
    width: 60px;
    height:57px;
    border-radius: 50%;
}
#Link:hover{
    border: 1px solid white;
    background-color: #099951e1;
    color: whitesmoke;
    border-radius: 5px;
    text-align: center;
}
#nav {
    margin-left: 65%;
    width: 100%;
    float: right;
}
.dropdown {
    padding-top: 0;
}
@media(max-width:  1260px) {
    .dropdown {
        padding-top: 25px;
    }
}
