.navbar{
    height: 10%;
    width: 100%;
    background:linear-gradient(90deg,rgb(1, 17, 1),rgb(10, 14, 9));
    position: fixed;
    top:0;
    padding: 0;
    margin: 0;
}

.img{
    display: block;
    width: 60px;
    height:57px;
    border-radius: 50%;
}
#Link:hover{
    border: 1px solid white;
    background-color: #042213e1;
    color: whitesmoke;
    border-radius: 5px;
    text-align: center;
}
#nav {
    margin-left: 65%;
    width: 100%;
    float: right;   
}
.dropdown {
    padding-top: 0;
    height: 100%;
}
@media(max-width:  1260px) {
    .dropdown {
        padding-top: 25px;
    }
    .navbar{
        position: fixed;
        height:auto;
    }

}
